*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

@import './variables/variables';
@import './variables/extend';


@import './secciones/header';
@import './secciones/mainindex';
@import './secciones/maininformacion';
@import './secciones/galeria';
@import './secciones/presupuestos';
@import './secciones/contacto.scss';
@import './secciones/footer';


@import './secciones/mediasquarys';
