footer{
    display: flex;
    justify-content: center;
    background-color: #343434;
    width: 100%;
    ul{
        display: flex;
    }
    li{
        display: flex;
        margin: 20px;
    }
    a{
        color: #DFDFDF;
        &:hover{
            color: #5F5980;
    font-weight: bold;
        }
    }
}