.header{
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
    height: 150px;
   } 
   ul{
list-style: none;
display: flex;
   }
   li{
    margin: 50px;
    font-size: larger;
   }
   a{
    color: #DFDFDF;
    &:hover{
        color: #5F5980;
    font-weight: bold;
    }
   }
    }